In [64]:
#importing libraries
import gzip
import json
import pandas as pd

In [65]:
#fetching data from json file
data=[]
max_records=100000
with gzip.open('Electronics_5.json.gz','rt',encoding='latin1') as f:
    for i,line in enumerate(f):
        if i==max_records:
            break
        data.append(json.loads(line))
    print(f"data Loaded {len(data)}")
df=pd.DataFrame(data)
df.head()

data Loaded 100000

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5.0,67,True,"09 18, 1999",AAP7PPBU72QFM,0151004714,{'Format:': ' Hardcover'},D. C. Carrad,This is the best novel I have read in 2 or 3 y...,A star is born,937612800,NaN
1,3.0,5,True,"10 23, 2013",A2E168DTVGE6SV,0151004714,{'Format:': ' Kindle Edition'},Evy,"Pages and pages of introspection, in the style...",A stream of consciousness novel,1382486400,NaN
2,5.0,4,False,"09 2, 2008",A1ER5AYS3FQ9O3,0151004714,{'Format:': ' Paperback'},Kcorn,This is the kind of novel to read when you hav...,I'm a huge fan of the author and this one did ...,1220313600,NaN
3,5.0,13,False,"09 4, 2000",A1T17LMQABMBN5,0151004714,{'Format:': ' Hardcover'},Caf Girl Writes,What gorgeous language! What an incredible wri...,The most beautiful book I have ever read!,968025600,NaN
4,3.0,8,True,"02 4, 2000",A3QHJ0FXK33OBE,0151004714,{'Format:': ' Hardcover'},W. Shane Schmidt,I was taken in by reviews that compared this b...,A dissenting view--In part.,949622400,NaN

In [66]:
#knowig the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         100000 non-null  float64
 1   vote            17157 non-null   object
 2   verified        100000 non-null  bool
 3   reviewTime      100000 non-null  object
 4   reviewerID      100000 non-null  object
 5   asin            100000 non-null  object
 6   style           61750 non-null   object
 7   reviewerName    99984 non-null   object
 8   reviewText      99986 non-null   object
 9   summary         99992 non-null   object
 10  unixReviewTime  100000 non-null  int64
 11  image           1000 non-null    object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 8.5+ MB

In [74]:
#dropping irrelevant columns
df=df.drop(columns=['image','verified','style','unixReviewTime'],errors='ignore')
df.head()

,overall,vote,reviewTime,reviewerID,asin,reviewerName,reviewText,summary
0,5.0,67.0,1999-09-18,AAP7PPBU72QFM,0151004714,D. C. Carrad,This is the best novel I have read in 2 or 3 y...,A star is born
1,3.0,5.0,2013-10-23,A2E168DTVGE6SV,0151004714,Evy,"Pages and pages of introspection, in the style...",A stream of consciousness novel
2,5.0,4.0,2008-09-02,A1ER5AYS3FQ9O3,0151004714,Kcorn,This is the kind of novel to read when you hav...,I'm a huge fan of the author and this one did ...
3,5.0,13.0,2000-09-04,A1T17LMQABMBN5,0151004714,Caf Girl Writes,What gorgeous language! What an incredible wri...,The most beautiful book I have ever read!
4,3.0,8.0,2000-02-04,A3QHJ0FXK33OBE,0151004714,W. Shane Schmidt,I was taken in by reviews that compared this b...,A dissenting view--In part.

In [75]:
#dropping data with null values
df=df.dropna(subset=['reviewerName','reviewText','summary'])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99963 entries, 0 to 99962
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   overall       99963 non-null  float64
 1   vote          99963 non-null  float64
 2   reviewTime    99963 non-null  datetime64[ns]
 3   reviewerID    99963 non-null  object
 4   asin          99963 non-null  object
 5   reviewerName  99963 non-null  object
 6   reviewText    99963 non-null  object
 7   summary       99963 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 6.1+ MB

In [77]:
#changing the datatypes
df['vote']=pd.to_numeric(df['vote'],errors='coerce')
df['reviewTime']=pd.to_datetime(df['reviewTime'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99963 entries, 0 to 99962
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   overall       99963 non-null  float64
 1   vote          99963 non-null  float64
 2   reviewTime    99963 non-null  datetime64[ns]
 3   reviewerID    99963 non-null  object
 4   asin          99963 non-null  object
 5   reviewerName  99963 non-null  object
 6   reviewText    99963 non-null  object
 7   summary       99963 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 6.1+ MB

In [78]:
#replacing null values with 0 in vote column
df['vote']=df['vote'].fillna(0)
df=df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99963 entries, 0 to 99962
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   overall       99963 non-null  float64
 1   vote          99963 non-null  float64
 2   reviewTime    99963 non-null  datetime64[ns]
 3   reviewerID    99963 non-null  object
 4   asin          99963 non-null  object
 5   reviewerName  99963 non-null  object
 6   reviewText    99963 non-null  object
 7   summary       99963 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 6.1+ MB

In [79]:
df.head()

,overall,vote,reviewTime,reviewerID,asin,reviewerName,reviewText,summary
0,5.0,67.0,1999-09-18,AAP7PPBU72QFM,0151004714,D. C. Carrad,This is the best novel I have read in 2 or 3 y...,A star is born
1,3.0,5.0,2013-10-23,A2E168DTVGE6SV,0151004714,Evy,"Pages and pages of introspection, in the style...",A stream of consciousness novel
2,5.0,4.0,2008-09-02,A1ER5AYS3FQ9O3,0151004714,Kcorn,This is the kind of novel to read when you hav...,I'm a huge fan of the author and this one did ...
3,5.0,13.0,2000-09-04,A1T17LMQABMBN5,0151004714,Caf Girl Writes,What gorgeous language! What an incredible wri...,The most beautiful book I have ever read!
4,3.0,8.0,2000-02-04,A3QHJ0FXK33OBE,0151004714,W. Shane Schmidt,I was taken in by reviews that compared this b...,A dissenting view--In part.

In [82]:
#Saving to csv file
df.to_csv('Cleaned_csv_files/Electronics_cleaned_dataset.csv',index=False)
print('CSV file saved')

CSV file saved

In [133]:
records=[]
max_rows=300000
with gzip.open('json_files/meta_Electronics.json.gz','rt') as f:
    for i,line in enumerate(f):
        if i>=max_rows:
            break
        records.append(json.loads(line))
meta_df=pd.DataFrame(records)
print(f'Loaded {len(meta_df)}')

Loaded 300000

In [134]:
#removed duplicate ids
meta_df=meta_df.drop_duplicates(subset='asin')

In [143]:
meta_df.to_csv('Cleaned_csv_files/meta_cleaned_dataset.csv',index=False)
print('CSV file saved')

CSV file saved

In [135]:
merged_file=pd.merge(df,meta_df,on='asin',how='left')
print(merged_file['title'].notna().mean())

1.0

In [136]:
#deleted irrelevant columns
merged_file=merged_file.drop(columns=['tech1','feature','rank','also_view','similar_item','imageURL','imageURLHighRes','description','date','fit','details','also_buy','tech2'],errors='ignore')
merged_file.columns

Index(['overall', 'vote', 'reviewTime', 'reviewerID', 'asin', 'reviewerName',
       'reviewText', 'summary', 'category', 'title', 'brand', 'main_cat',
       'price'],
      dtype='object')

In [137]:
merged_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99963 entries, 0 to 99962
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   overall       99963 non-null  float64
 1   vote          99963 non-null  float64
 2   reviewTime    99963 non-null  datetime64[ns]
 3   reviewerID    99963 non-null  object
 4   asin          99963 non-null  object
 5   reviewerName  99963 non-null  object
 6   reviewText    99963 non-null  object
 7   summary       99963 non-null  object
 8   category      99963 non-null  object
 9   title         99963 non-null  object
 10  brand         99963 non-null  object
 11  main_cat      99963 non-null  object
 12  price         99963 non-null  object
dtypes: datetime64[ns](1), float64(2), object(10)
memory usage: 9.9+ MB

In [144]:
merged_file['price']=merged_file['price'].astype(str)
merged_file['price']=merged_file['price'].str.replace(r'[^0-9.]','',regex=True)
merged_file['price']=pd.to_numeric(merged_file['price'],errors='coerce')
merged_file.head(2)

,overall,vote,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,category,title,brand,main_cat,price
0,5.0,67.0,1999-09-18,AAP7PPBU72QFM,0151004714,D. C. Carrad,This is the best novel I have read in 2 or 3 y...,A star is born,"[Electronics, eBook Readers & Accessories, eBo...",The Last Life: A Novel,Visit Amazon's Claire Messud Page,Books,13.81
1,3.0,5.0,2013-10-23,A2E168DTVGE6SV,0151004714,Evy,"Pages and pages of introspection, in the style...",A stream of consciousness novel,"[Electronics, eBook Readers & Accessories, eBo...",The Last Life: A Novel,Visit Amazon's Claire Messud Page,Books,13.81

In [145]:
#saving final dataset to be analysed
merged_file.to_csv('Cleaned_csv_files/Final_electronics_metadata_dataset.csv',index=False)
print("final CSV saved")

final CSV saved